.thank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .btn-rn {
    text-align: center;
    padding: 15px 20px;
    background-color: #414141;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-rn:hover {
    background-color: black;
  }